.buy-col {
    background-image: url(images/icons/fam/accept.png);
}
.sell-col {
    background-image: url(images/icons/fam/delete.gif);
}
.alert-col {
    background-image: url(images/icons/fam/error.png);
}
.application-go {
    background-image: url(images/icons/fam/application_go.png);
}
.act-col-user-del {
    background-image: url(images/icons/fam/user_delete.png);
}
.act-col-user-add {
    background-image: url(images/icons/fam/user_add.png);
}
.act-col-user-edit {
    background-image: url(images/icons/fam/user_edit.png);
}